<div class="main-area">
  <div class="content-area">
    <div class="header">
      <h1>Manage Products</h1>
    </div>
    <div class="container">
      <div class="form-area">
        <h3 *ngIf="!editMode">Create Product</h3>
        <h3 *ngIf="editMode">Edit Product</h3>
        <form
          *ngIf="!editMode"
          #productsForm="ngForm"
          (ngSubmit)="onProductCreate(productsForm.value)"
        >
          <label class="m-2" for="">Product Name</label>
          <input class="m-2" type="text" name="pName" ngModel required />
          <label class="m-2" for="">Product Description</label>
          <input class="m-2" type="text" name="desc" ngModel required />
          <label class="m-2" for="">Product Price</label>
          <input class="m-2" type="text" name="price" ngModel required />
          <input class="m-2" type="submit" value="Add Product" />
        </form>


        <form *ngIf="editMode" (ngSubmit)="onUpdateProduct()">
          <label for="">Product Name</label>
          <input
            type="text"
            [(ngModel)]="productToEdit.pName"
            name="pName"
            required
          />
          <label for="">Product Description</label>
          <input
            type="text"
            [(ngModel)]="productToEdit.desc"
            name="desc"
            required
          />
          <label for="">Product Price</label>
          <input
            type="text"
            [(ngModel)]="productToEdit.price"
            name="price"
            required
          />
          <input type="submit" value="Update Product" />
          <button type="button" (click)="editMode = false">Cancel</button>
        </form>
      </div>

      <div class="product-display-area mt-5">
        <h3>All Products</h3>
        <table id="products">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Description</th>
              <th>Price</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let product of products">
              <td>{{ product.id }}</td>
              <td>{{ product.pName }}</td>
              <td>{{ product.desc }}</td>
              <td>{{ product.price }}</td>
              <td>
                <button (click)="onEditProduct(product)">Edit</button>
                <button (click)="onDeleteProduct(product.id)">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
